# Carga de datos y limpieza

In [1]:
import pandas as pd

In [2]:
df_2014 = pd.read_csv("C:/Users/noeam/Documents/git/github/proyecto_pt2/data/2014_data_new.csv")
df_2014

,tipo_ejer_1ano_aerobics,tipo_ejercicio_10anos_aerobics,tipo_ejercicio_20anos_aerobics,tipo_ejercicio_30anos_aerobics,tipo_ejer_5anos_aerobics,tipo_ejer_actual_aerobics,cantidad_alcohol_x_semana,tiene_diab_amigo_10,edad_amigo_10,tiene_sobrep_obesidad_amigo_10,...,has_fumado,cambio_habitos_probabilidad_dm,acido_urico,acido_urico_categorias,porc_mexicanos_obesidad_intervalos,cantidad_calorias_1L_refresco_cat,cantidad_calorias_1L_agua_cat,veces_come_fueradecasa_actual,veces_come_fueradecasa_1anio,veces_come_fueradecasa_5anios
0,0,0,0,0,0,0,2,NaN,NaN,NaN,...,0,2,35.0,NORMAL,c,0,a,a,a,a
1,0,0,1,0,0,0,1,0.0,46.0,0.0,...,5,1,52.0,NORMAL,e,0,0,a,b,a
2,0,0,0,0,0,0,2,NaN,NaN,NaN,...,18,1,6.0,NORMAL,0,a,a,a,a,c
3,0,0,0,0,0,0,0,NaN,NaN,NaN,...,10,1,7.0,NORMAL,d,0,0,a,a,a
4,0,0,0,0,0,0,1,NaN,NaN,NaN,...,52,1,56.0,NORMAL,0,0,a,b,b,a
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1070,0,0,0,0,0,1,0,NaN,NaN,NaN,...,0,2,54.0,NORMAL,c,b,a,a,a,a
1071,0,0,0,0,0,0,0,NaN,NaN,NaN,...,0,1,35.0,NORMAL,0,0,0,c,b,b
1072,0,0,0,0,0,0,10,NaN,NaN,NaN,...,0,2,63.0,NORMAL,c,a,a,c,c,c
1073,0,0,0,0,0,0,0,NaN,NaN,NaN,...,0,1,61.0,NORMAL,d,c,a,a,a,a
1074,0,0,0,0,0,0,4,NaN,NaN,NaN,...,2,2,87.0,ALTO CRITICO,0,0,a,b,b,b

In [3]:
df_fmed = pd.read_csv("C:/Users/noeam/Documents/git/github/proyecto_pt2/data/fmed_data_new.csv")
df_fmed

,sexo,estado_civil,grado_estudios,tienes_obesidad,edad_dx_obesidad,tiene_diab_tipo2,edad_dx_diab_tipo2,padece_hipertensión_arterial,edad_dx_hipertensión_arterial,padece_problemas_cardiacos,...,pcr,cloro,potasio,sodio,edad_real,munneca,porc_musculos,rmkcal,edad_corporal,grasa_visceral
0,F,L,B,2.0,NaN,2.0,NaN,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,F,L,B,2.0,NaN,2.0,NaN,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,F,L,B,2.0,NaN,2.0,17.0,0.0,17.0,1.0,...,NaN,NaN,NaN,NaN,19.0,15.0,23.6,1199.0,21.0,3.0
3,M,L,B,2.0,NaN,2.0,NaN,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,24.0,17.0,35.0,1845.0,47.0,10.0
4,F,L,B,2.0,NaN,2.0,16.0,0.0,16.0,0.0,...,NaN,NaN,NaN,NaN,18.0,15.0,26.7,1117.0,38.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
839,M,C,B,2.0,NaN,2.0,NaN,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
840,F,L,B,2.0,NaN,2.0,NaN,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
841,F,L,B,2.0,NaN,2.0,NaN,0.0,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
842,F,L,B,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
843,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
variables = ['sexo', 'tienes_obesidad', 'horas_ejercicio_actual', 'horas_ejercicio_1ano', 'horas_ejercicio_5ano']
df_2014_filtrado = df_2014[variables]
df_2014_filtrado

,sexo,tienes_obesidad,horas_ejercicio_actual,horas_ejercicio_1ano,horas_ejercicio_5ano
0,M,2,2,2,6
1,F,2,1,0,0
2,M,2,1,1,1
3,M,2,1,5,5
4,F,2,6,6,6
...,...,...,...,...,...
1070,F,2,1,5,5
1071,F,2,20,0,0
1072,M,2,6,6,5
1073,F,2,4,4,0
1074,M,2,2,3,5

In [5]:
variables = ['sexo', 'tienes_obesidad', 'horas_ejercicio_actual', 'horas_ejercicio_1ano', 'horas_ejercicio_5ano', 'horas_suenno_calidad', 'suenno_diario_1ano', 'suenno_diario_5anos']
df_fmed_filtrado = df_fmed[variables]
df_fmed_filtrado

,sexo,tienes_obesidad,horas_ejercicio_actual,horas_ejercicio_1ano,horas_ejercicio_5ano,horas_suenno_calidad,suenno_diario_1ano,suenno_diario_5anos
0,F,2.0,5.0,10.0,5.0,4.0,9.0,9.0
1,F,2.0,0.0,0.0,1.5,4.0,5.0,8.0
2,F,2.0,0.0,5.0,9.0,4.0,1.0,5.0
3,M,2.0,3.0,5.0,15.0,3.0,5.0,7.0
4,F,2.0,8.0,15.0,25.0,5.0,8.0,8.0
...,...,...,...,...,...,...,...,...
839,M,2.0,0.0,2.0,4.0,5.0,8.0,7.0
840,F,2.0,0.0,2.0,4.0,4.0,7.0,9.0
841,F,2.0,0.0,8.0,4.0,1.0,9.0,8.0
842,F,2.0,1.0,5.0,5.0,3.0,8.0,9.0
843,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_2014_filtrado.isnull().sum()

sexo                      0
tienes_obesidad           0
horas_ejercicio_actual    0
horas_ejercicio_1ano      0
horas_ejercicio_5ano      0
dtype: int64

In [7]:
df_fmed_filtrado.isnull().sum()

sexo                       95
tienes_obesidad            95
horas_ejercicio_actual    101
horas_ejercicio_1ano      105
horas_ejercicio_5ano      112
horas_suenno_calidad       95
suenno_diario_1ano         95
suenno_diario_5anos        95
dtype: int64

In [8]:
df_fmed_filtrado = df_fmed_filtrado.dropna()
df_fmed_filtrado.isnull().sum()

sexo                      0
tienes_obesidad           0
horas_ejercicio_actual    0
horas_ejercicio_1ano      0
horas_ejercicio_5ano      0
horas_suenno_calidad      0
suenno_diario_1ano        0
suenno_diario_5anos       0
dtype: int64

In [9]:
df_fmed_filtrado

,sexo,tienes_obesidad,horas_ejercicio_actual,horas_ejercicio_1ano,horas_ejercicio_5ano,horas_suenno_calidad,suenno_diario_1ano,suenno_diario_5anos
0,F,2.0,5.0,10.0,5.0,4.0,9.0,9.0
1,F,2.0,0.0,0.0,1.5,4.0,5.0,8.0
2,F,2.0,0.0,5.0,9.0,4.0,1.0,5.0
3,M,2.0,3.0,5.0,15.0,3.0,5.0,7.0
4,F,2.0,8.0,15.0,25.0,5.0,8.0,8.0
...,...,...,...,...,...,...,...,...
838,M,2.0,3.0,20.0,18.0,6.0,7.0,8.0
839,M,2.0,0.0,2.0,4.0,5.0,8.0,7.0
840,F,2.0,0.0,2.0,4.0,4.0,7.0,9.0
841,F,2.0,0.0,8.0,4.0,1.0,9.0,8.0
842,F,2.0,1.0,5.0,5.0,3.0,8.0,9.0

# Comienza Transformación

# Creamos las variables categóricas para hábito ejercicio (Bueno o Malo)

In [10]:
def exercise_habit_case(value):
    if value >= 2.5:
        return 'B'
    else:
        return 'M'

In [11]:
# Leemos los valores como numericos
#df_2014_filtrado['horas_ejercicio_actual'] = pd.to_numeric(df_2014_filtrado['horas_ejercicio_actual'], errors='coerce')
#df_2014_filtrado['horas_ejercicio_1ano'] = pd.to_numeric(df_2014_filtrado['horas_ejercicio_1ano'], errors='coerce')
#df_2014_filtrado['horas_ejercicio_5ano'] = pd.to_numeric(df_2014_filtrado['horas_ejercicio_5ano'], errors='coerce')
df_2014_filtrado['ejer_act'] = df_2014_filtrado['horas_ejercicio_actual'].apply(exercise_habit_case)
df_2014_filtrado['ejer_1'] = df_2014_filtrado['horas_ejercicio_1ano'].apply(exercise_habit_case)
df_2014_filtrado['ejer_5'] = df_2014_filtrado['horas_ejercicio_5ano'].apply(exercise_habit_case)
df_2014_filtrado

C:\Users\noeam\AppData\Local\Temp\ipykernel_20268\3068411755.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2014_filtrado['ejer_act'] = df_2014_filtrado['horas_ejercicio_actual'].apply(exercise_habit_case)
C:\Users\noeam\AppData\Local\Temp\ipykernel_20268\3068411755.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2014_filtrado['ejer_1'] = df_2014_filtrado['horas_ejercicio_1ano'].apply(exercise_habit_case)
C:\Users\noeam\AppData\Local\Temp\ipykernel_20268\3068411755.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2014_filtrado['ejer_5'] = df_2014_filtrado['horas_ejercicio_5ano'].apply(exercise_habit_case)

,sexo,tienes_obesidad,horas_ejercicio_actual,horas_ejercicio_1ano,horas_ejercicio_5ano,ejer_act,ejer_1,ejer_5
0,M,2,2,2,6,M,M,B
1,F,2,1,0,0,M,M,M
2,M,2,1,1,1,M,M,M
3,M,2,1,5,5,M,B,B
4,F,2,6,6,6,B,B,B
...,...,...,...,...,...,...,...,...
1070,F,2,1,5,5,M,B,B
1071,F,2,20,0,0,B,M,M
1072,M,2,6,6,5,B,B,B
1073,F,2,4,4,0,B,B,M
1074,M,2,2,3,5,M,B,B

In [12]:
df_fmed_filtrado['ejer_act'] = df_fmed_filtrado['horas_ejercicio_actual'].apply(exercise_habit_case)
df_fmed_filtrado['ejer_1'] = df_fmed_filtrado['horas_ejercicio_1ano'].apply(exercise_habit_case)
df_fmed_filtrado['ejer_5'] = df_fmed_filtrado['horas_ejercicio_5ano'].apply(exercise_habit_case)
df_fmed_filtrado

C:\Users\noeam\AppData\Local\Temp\ipykernel_20268\3624143285.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fmed_filtrado['ejer_act'] = df_fmed_filtrado['horas_ejercicio_actual'].apply(exercise_habit_case)
C:\Users\noeam\AppData\Local\Temp\ipykernel_20268\3624143285.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fmed_filtrado['ejer_1'] = df_fmed_filtrado['horas_ejercicio_1ano'].apply(exercise_habit_case)
C:\Users\noeam\AppData\Local\Temp\ipykernel_20268\3624143285.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fmed_filtrado['ejer_5'] = df_fmed_filtrado['horas_ejercicio_5ano'].apply(exercise_habit_case)

,sexo,tienes_obesidad,horas_ejercicio_actual,horas_ejercicio_1ano,horas_ejercicio_5ano,horas_suenno_calidad,suenno_diario_1ano,suenno_diario_5anos,ejer_act,ejer_1,ejer_5
0,F,2.0,5.0,10.0,5.0,4.0,9.0,9.0,B,B,B
1,F,2.0,0.0,0.0,1.5,4.0,5.0,8.0,M,M,M
2,F,2.0,0.0,5.0,9.0,4.0,1.0,5.0,M,B,B
3,M,2.0,3.0,5.0,15.0,3.0,5.0,7.0,B,B,B
4,F,2.0,8.0,15.0,25.0,5.0,8.0,8.0,B,B,B
...,...,...,...,...,...,...,...,...,...,...,...
838,M,2.0,3.0,20.0,18.0,6.0,7.0,8.0,B,B,B
839,M,2.0,0.0,2.0,4.0,5.0,8.0,7.0,M,M,B
840,F,2.0,0.0,2.0,4.0,4.0,7.0,9.0,M,M,B
841,F,2.0,0.0,8.0,4.0,1.0,9.0,8.0,M,B,B
842,F,2.0,1.0,5.0,5.0,3.0,8.0,9.0,M,B,B

# Creamos las variables categóricas para hábito cantidad de horas de sueño (Bueno o Malo)

In [13]:
def sleep_habit_case(value):
    if (value >= 7) and (value <= 9):
        return 'B'
    else:
        return 'M'

In [14]:
df_fmed_filtrado['suenio_act'] = df_fmed_filtrado['horas_suenno_calidad'].apply(sleep_habit_case)
df_fmed_filtrado['suenio_1'] = df_fmed_filtrado['suenno_diario_1ano'].apply(sleep_habit_case)
df_fmed_filtrado['suenio_5'] = df_fmed_filtrado['suenno_diario_5anos'].apply(sleep_habit_case)
df_fmed_filtrado

C:\Users\noeam\AppData\Local\Temp\ipykernel_20268\1754248267.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fmed_filtrado['suenio_act'] = df_fmed_filtrado['horas_suenno_calidad'].apply(sleep_habit_case)
C:\Users\noeam\AppData\Local\Temp\ipykernel_20268\1754248267.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fmed_filtrado['suenio_1'] = df_fmed_filtrado['suenno_diario_1ano'].apply(sleep_habit_case)
C:\Users\noeam\AppData\Local\Temp\ipykernel_20268\1754248267.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fmed_filtrado['suenio_5'] = df_fmed_filtrado['suenno_diario_5anos'].apply(sleep_habit_case)

,sexo,tienes_obesidad,horas_ejercicio_actual,horas_ejercicio_1ano,horas_ejercicio_5ano,horas_suenno_calidad,suenno_diario_1ano,suenno_diario_5anos,ejer_act,ejer_1,ejer_5,suenio_act,suenio_1,suenio_5
0,F,2.0,5.0,10.0,5.0,4.0,9.0,9.0,B,B,B,M,B,B
1,F,2.0,0.0,0.0,1.5,4.0,5.0,8.0,M,M,M,M,M,B
2,F,2.0,0.0,5.0,9.0,4.0,1.0,5.0,M,B,B,M,M,M
3,M,2.0,3.0,5.0,15.0,3.0,5.0,7.0,B,B,B,M,M,B
4,F,2.0,8.0,15.0,25.0,5.0,8.0,8.0,B,B,B,M,B,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
838,M,2.0,3.0,20.0,18.0,6.0,7.0,8.0,B,B,B,M,B,B
839,M,2.0,0.0,2.0,4.0,5.0,8.0,7.0,M,M,B,M,B,B
840,F,2.0,0.0,2.0,4.0,4.0,7.0,9.0,M,M,B,M,B,B
841,F,2.0,0.0,8.0,4.0,1.0,9.0,8.0,M,B,B,M,B,B
842,F,2.0,1.0,5.0,5.0,3.0,8.0,9.0,M,B,B,M,B,B

# Creamos variables de categoria Obesidad

In [15]:
def obesity_case(value):
    if (value == 1):
        return 1
    else:
        return 0

In [16]:
df_2014_filtrado['obesidad'] = df_2014_filtrado['tienes_obesidad'].apply(obesity_case)
df_2014_filtrado

C:\Users\noeam\AppData\Local\Temp\ipykernel_20268\3563636041.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2014_filtrado['obesidad'] = df_2014_filtrado['tienes_obesidad'].apply(obesity_case)

,sexo,tienes_obesidad,horas_ejercicio_actual,horas_ejercicio_1ano,horas_ejercicio_5ano,ejer_act,ejer_1,ejer_5,obesidad
0,M,2,2,2,6,M,M,B,0
1,F,2,1,0,0,M,M,M,0
2,M,2,1,1,1,M,M,M,0
3,M,2,1,5,5,M,B,B,0
4,F,2,6,6,6,B,B,B,0
...,...,...,...,...,...,...,...,...,...
1070,F,2,1,5,5,M,B,B,0
1071,F,2,20,0,0,B,M,M,0
1072,M,2,6,6,5,B,B,B,0
1073,F,2,4,4,0,B,B,M,0
1074,M,2,2,3,5,M,B,B,0

In [17]:
df_fmed_filtrado['obesidad'] = df_fmed_filtrado['tienes_obesidad'].apply(obesity_case)
df_fmed_filtrado

C:\Users\noeam\AppData\Local\Temp\ipykernel_20268\3308963832.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fmed_filtrado['obesidad'] = df_fmed_filtrado['tienes_obesidad'].apply(obesity_case)

,sexo,tienes_obesidad,horas_ejercicio_actual,horas_ejercicio_1ano,horas_ejercicio_5ano,horas_suenno_calidad,suenno_diario_1ano,suenno_diario_5anos,ejer_act,ejer_1,ejer_5,suenio_act,suenio_1,suenio_5,obesidad
0,F,2.0,5.0,10.0,5.0,4.0,9.0,9.0,B,B,B,M,B,B,0
1,F,2.0,0.0,0.0,1.5,4.0,5.0,8.0,M,M,M,M,M,B,0
2,F,2.0,0.0,5.0,9.0,4.0,1.0,5.0,M,B,B,M,M,M,0
3,M,2.0,3.0,5.0,15.0,3.0,5.0,7.0,B,B,B,M,M,B,0
4,F,2.0,8.0,15.0,25.0,5.0,8.0,8.0,B,B,B,M,B,B,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
838,M,2.0,3.0,20.0,18.0,6.0,7.0,8.0,B,B,B,M,B,B,0
839,M,2.0,0.0,2.0,4.0,5.0,8.0,7.0,M,M,B,M,B,B,0
840,F,2.0,0.0,2.0,4.0,4.0,7.0,9.0,M,M,B,M,B,B,0
841,F,2.0,0.0,8.0,4.0,1.0,9.0,8.0,M,B,B,M,B,B,0
842,F,2.0,1.0,5.0,5.0,3.0,8.0,9.0,M,B,B,M,B,B,0

In [18]:
df_2014_filtrado.to_csv('~/Documents/git/github/proyecto_pt2/outputs/2014_final.csv', index=False, header=True)
df_fmed_filtrado.to_csv('~/Documents/git/github/proyecto_pt2/outputs/fmed_final.csv', index=False, header=True)

In [19]:
df = pd.concat([df_2014_filtrado, df_fmed_filtrado])
variables = ['horas_suenno_calidad', 'suenno_diario_1ano', 'suenno_diario_5anos', 'suenio_act', 'suenio_1', 'suenio_5']
df_final = df.drop(variables, axis=1)
df_final

,sexo,tienes_obesidad,horas_ejercicio_actual,horas_ejercicio_1ano,horas_ejercicio_5ano,ejer_act,ejer_1,ejer_5,obesidad
0,M,2.0,2.0,2.0,6.0,M,M,B,0
1,F,2.0,1.0,0.0,0.0,M,M,M,0
2,M,2.0,1.0,1.0,1.0,M,M,M,0
3,M,2.0,1.0,5.0,5.0,M,B,B,0
4,F,2.0,6.0,6.0,6.0,B,B,B,0
...,...,...,...,...,...,...,...,...,...
838,M,2.0,3.0,20.0,18.0,B,B,B,0
839,M,2.0,0.0,2.0,4.0,M,M,B,0
840,F,2.0,0.0,2.0,4.0,M,M,B,0
841,F,2.0,0.0,8.0,4.0,M,B,B,0
842,F,2.0,1.0,5.0,5.0,M,B,B,0

In [20]:
df_final.to_csv('~/Documents/git/github/proyecto_pt2/outputs/completo_final.csv', index=False, header=True)