# Cargamos los datos

In [1]:
import pandas as pd

In [2]:
df_comp = pd.read_csv("C:/Users/noeam/Documents/git/github/proyecto_pt2/outputs/completo_final.csv")
df_comp

,grado_estudios,tienes_obesidad,estatura,peso_actual,imc,sexo,horas_ejercicio_actual,horas_ejercicio_1ano,horas_ejercicio_5ano,IMC,ejer_act,ejer_1,ejer_5,obesidad
0,T,2.0,158.00,775.0,31045.0,M,2.0,2.0,6.0,31.045000,M,M,B,1
1,T,2.0,149.00,79.0,35584.0,F,1.0,0.0,0.0,35.584000,M,M,M,1
2,L,2.0,174.00,70.0,23121.0,M,1.0,1.0,1.0,23.121000,M,M,M,0
3,S,2.0,168.00,65.0,2303.0,M,1.0,5.0,5.0,23.030000,M,B,B,0
4,B,2.0,165.00,55.0,20202.0,F,6.0,6.0,6.0,20.202000,B,B,B,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1914,B,2.0,1.66,67.0,NaN,M,0.0,2.0,4.0,24.314124,M,M,B,0
1915,B,2.0,1.60,65.0,NaN,F,0.0,2.0,4.0,25.390625,M,M,B,1
1916,B,2.0,1.68,88.0,NaN,F,0.0,8.0,4.0,31.179138,M,B,B,1
1917,B,2.0,1.62,63.0,NaN,F,1.0,5.0,5.0,24.005487,M,B,B,0
1918,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,M,M,0

In [3]:
df_comp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1919 entries, 0 to 1918
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   grado_estudios          1824 non-null   object
 1   tienes_obesidad         1824 non-null   float64
 2   estatura                1823 non-null   float64
 3   peso_actual             1813 non-null   float64
 4   imc                     1274 non-null   float64
 5   sexo                    1824 non-null   object
 6   horas_ejercicio_actual  1818 non-null   float64
 7   horas_ejercicio_1ano    1814 non-null   float64
 8   horas_ejercicio_5ano    1807 non-null   float64
 9   IMC                     1813 non-null   float64
 10  ejer_act                1919 non-null   object
 11  ejer_1                  1919 non-null   object
 12  ejer_5                  1919 non-null   object
 13  obesidad                1919 non-null   int64
dtypes: float64(8), int64(1), object(5)
memory usage: 210.0+ KB

In [4]:
df_fmed = pd.read_csv("C:/Users/noeam/Documents/git/github/proyecto_pt2/outputs/fmed_final.csv")
df_fmed

,grado_estudios,tienes_obesidad,estatura,peso_actual,imc,sexo,horas_ejercicio_actual,horas_ejercicio_1ano,horas_ejercicio_5ano,horas_suenno_calidad,suenno_diario_1ano,suenno_diario_5anos,IMC,ejer_act,ejer_1,ejer_5,suenio_act,suenio_1,suenio_5,obesidad
0,B,2.0,1.44,49.5,NaN,F,5.0,10.0,5.0,4.0,9.0,9.0,23.871528,B,B,B,M,B,B,0
1,B,2.0,1.44,47.1,NaN,F,0.0,0.0,1.5,4.0,5.0,8.0,22.714120,M,M,M,M,M,B,0
2,B,2.0,1.59,51.0,21.0,F,0.0,5.0,9.0,4.0,1.0,5.0,20.173253,M,B,B,M,M,M,0
3,B,2.0,1.72,85.0,28.6,M,3.0,5.0,15.0,3.0,5.0,7.0,28.731747,B,B,B,M,M,B,1
4,B,2.0,1.45,51.4,24.4,F,8.0,15.0,25.0,5.0,8.0,8.0,24.447087,B,B,B,M,B,B,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
839,B,2.0,1.66,67.0,NaN,M,0.0,2.0,4.0,5.0,8.0,7.0,24.314124,M,M,B,M,B,B,0
840,B,2.0,1.60,65.0,NaN,F,0.0,2.0,4.0,4.0,7.0,9.0,25.390625,M,M,B,M,B,B,1
841,B,2.0,1.68,88.0,NaN,F,0.0,8.0,4.0,1.0,9.0,8.0,31.179138,M,B,B,M,B,B,1
842,B,2.0,1.62,63.0,NaN,F,1.0,5.0,5.0,3.0,8.0,9.0,24.005487,M,B,B,M,B,B,0
843,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,M,M,M,M,M,M,0

In [5]:
df_fmed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 844 entries, 0 to 843
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   grado_estudios          749 non-null    object
 1   tienes_obesidad         749 non-null    float64
 2   estatura                748 non-null    float64
 3   peso_actual             740 non-null    float64
 4   imc                     201 non-null    float64
 5   sexo                    749 non-null    object
 6   horas_ejercicio_actual  743 non-null    float64
 7   horas_ejercicio_1ano    739 non-null    float64
 8   horas_ejercicio_5ano    732 non-null    float64
 9   horas_suenno_calidad    749 non-null    float64
 10  suenno_diario_1ano      749 non-null    float64
 11  suenno_diario_5anos     749 non-null    float64
 12  IMC                     740 non-null    float64
 13  ejer_act                844 non-null    object
 14  ejer_1                  844 non-null    object
 15  ejer_5                  844 non-null    object
 16  suenio_act              844 non-null    object
 17  suenio_1                844 non-null    object
 18  suenio_5                844 non-null    object
 19  obesidad                844 non-null    int64
dtypes: float64(11), int64(1), object(8)
memory usage: 132.0+ KB

In [6]:
df_comp = df_comp.dropna(subset=['IMC', 'horas_ejercicio_actual', 'horas_ejercicio_1ano', 'horas_ejercicio_5ano'])
df_comp

,grado_estudios,tienes_obesidad,estatura,peso_actual,imc,sexo,horas_ejercicio_actual,horas_ejercicio_1ano,horas_ejercicio_5ano,IMC,ejer_act,ejer_1,ejer_5,obesidad
0,T,2.0,158.00,775.0,31045.0,M,2.0,2.0,6.0,31.045000,M,M,B,1
1,T,2.0,149.00,79.0,35584.0,F,1.0,0.0,0.0,35.584000,M,M,M,1
2,L,2.0,174.00,70.0,23121.0,M,1.0,1.0,1.0,23.121000,M,M,M,0
3,S,2.0,168.00,65.0,2303.0,M,1.0,5.0,5.0,23.030000,M,B,B,0
4,B,2.0,165.00,55.0,20202.0,F,6.0,6.0,6.0,20.202000,B,B,B,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1913,B,2.0,1.68,69.8,NaN,M,3.0,20.0,18.0,24.730726,B,B,B,0
1914,B,2.0,1.66,67.0,NaN,M,0.0,2.0,4.0,24.314124,M,M,B,0
1915,B,2.0,1.60,65.0,NaN,F,0.0,2.0,4.0,25.390625,M,M,B,1
1916,B,2.0,1.68,88.0,NaN,F,0.0,8.0,4.0,31.179138,M,B,B,1
1917,B,2.0,1.62,63.0,NaN,F,1.0,5.0,5.0,24.005487,M,B,B,0

In [11]:
#df_comp = df_comp.dropna(subset=['horas_ejercicio_actual', 'horas_ejercicio_1ano', 'horas_ejercicio_5ano', 'IMC'])
#df_comp

In [7]:
df_comp.isnull().sum()

grado_estudios              0
tienes_obesidad             0
estatura                    0
peso_actual                 0
imc                       534
sexo                        0
horas_ejercicio_actual      0
horas_ejercicio_1ano        0
horas_ejercicio_5ano        0
IMC                         0
ejer_act                    0
ejer_1                      0
ejer_5                      0
obesidad                    0
dtype: int64

In [8]:
df_fmed = df_fmed.dropna(subset=['IMC', 'horas_ejercicio_actual', 'horas_ejercicio_1ano', 'horas_ejercicio_5ano', 'horas_suenno_calidad', 'suenno_diario_1ano', 'suenno_diario_5anos'])
df_fmed

,grado_estudios,tienes_obesidad,estatura,peso_actual,imc,sexo,horas_ejercicio_actual,horas_ejercicio_1ano,horas_ejercicio_5ano,horas_suenno_calidad,suenno_diario_1ano,suenno_diario_5anos,IMC,ejer_act,ejer_1,ejer_5,suenio_act,suenio_1,suenio_5,obesidad
0,B,2.0,1.44,49.5,NaN,F,5.0,10.0,5.0,4.0,9.0,9.0,23.871528,B,B,B,M,B,B,0
1,B,2.0,1.44,47.1,NaN,F,0.0,0.0,1.5,4.0,5.0,8.0,22.714120,M,M,M,M,M,B,0
2,B,2.0,1.59,51.0,21.0,F,0.0,5.0,9.0,4.0,1.0,5.0,20.173253,M,B,B,M,M,M,0
3,B,2.0,1.72,85.0,28.6,M,3.0,5.0,15.0,3.0,5.0,7.0,28.731747,B,B,B,M,M,B,1
4,B,2.0,1.45,51.4,24.4,F,8.0,15.0,25.0,5.0,8.0,8.0,24.447087,B,B,B,M,B,B,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
838,B,2.0,1.68,69.8,NaN,M,3.0,20.0,18.0,6.0,7.0,8.0,24.730726,B,B,B,M,B,B,0
839,B,2.0,1.66,67.0,NaN,M,0.0,2.0,4.0,5.0,8.0,7.0,24.314124,M,M,B,M,B,B,0
840,B,2.0,1.60,65.0,NaN,F,0.0,2.0,4.0,4.0,7.0,9.0,25.390625,M,M,B,M,B,B,1
841,B,2.0,1.68,88.0,NaN,F,0.0,8.0,4.0,1.0,9.0,8.0,31.179138,M,B,B,M,B,B,1
842,B,2.0,1.62,63.0,NaN,F,1.0,5.0,5.0,3.0,8.0,9.0,24.005487,M,B,B,M,B,B,0

In [9]:
df_fmed.isnull().sum()

grado_estudios              0
tienes_obesidad             0
estatura                    0
peso_actual                 0
imc                       534
sexo                        0
horas_ejercicio_actual      0
horas_ejercicio_1ano        0
horas_ejercicio_5ano        0
horas_suenno_calidad        0
suenno_diario_1ano          0
suenno_diario_5anos         0
IMC                         0
ejer_act                    0
ejer_1                      0
ejer_5                      0
suenio_act                  0
suenio_1                    0
suenio_5                    0
obesidad                    0
dtype: int64

# Inicia visualizacion

In [10]:
variables_comp = ['obesidad', 'sexo', 'grado_estudios', 'ejer_act', 'ejer_1', 'ejer_5']
df_comp_sel = df_comp[variables_comp]
df_comp_sel

      obesidad sexo grado_estudios ejer_act ejer_1 ejer_5
0            1    M              T        M      M      B
1            1    F              T        M      M      M
2            0    M              L        M      M      M
3            0    M              S        M      B      B
4            0    F              B        B      B      B
...        ...  ...            ...      ...    ...    ...
1913         0    M              B        B      B      B
1914         0    M              B        M      M      B
1915         1    F              B        M      M      B
1916         1    F              B        M      B      B
1917         0    F              B        M      B      B

[1787 rows x 6 columns]

In [11]:
variables_fmed = ['obesidad', 'sexo', 'grado_estudios', 'ejer_act', 'ejer_1', 'ejer_5', 'suenio_act', 'suenio_1', 'suenio_5']
df_fmed_sel = df_fmed[variables_fmed]
df_fmed_sel

,obesidad,sexo,grado_estudios,ejer_act,ejer_1,ejer_5,suenio_act,suenio_1,suenio_5
0,0,F,B,B,B,B,M,B,B
1,0,F,B,M,M,M,M,M,B
2,0,F,B,M,B,B,M,M,M
3,1,M,B,B,B,B,M,M,B
4,0,F,B,B,B,B,M,B,B
...,...,...,...,...,...,...,...,...,...
838,0,M,B,B,B,B,M,B,B
839,0,M,B,M,M,B,M,B,B
840,1,F,B,M,M,B,M,B,B
841,1,F,B,M,B,B,M,B,B
842,0,F,B,M,B,B,M,B,B

In [12]:
df_comp_sel.to_csv('~/Documents/git/github/proyecto_pt2/outputs/completo_seleccionadas.csv', index=False, header=True)
df_fmed_sel.to_csv('~/Documents/git/github/proyecto_pt2/outputs/fmed_seleccionadas.csv', index=False, header=True)