# Cargamos los datos

In [1]:
import pandas as pd

In [2]:
df_comp = pd.read_csv("C:/Users/noeam/Documents/git/github/proyecto_pt2/outputs/completo_final.csv")
df_comp

,sexo,tienes_obesidad,horas_ejercicio_actual,horas_ejercicio_1ano,horas_ejercicio_5ano,ejer_act,ejer_1,ejer_5,obesidad
0,M,2.0,2.0,2.0,6.0,M,M,B,0
1,F,2.0,1.0,0.0,0.0,M,M,M,0
2,M,2.0,1.0,1.0,1.0,M,M,M,0
3,M,2.0,1.0,5.0,5.0,M,B,B,0
4,F,2.0,6.0,6.0,6.0,B,B,B,0
...,...,...,...,...,...,...,...,...,...
1793,M,2.0,3.0,20.0,18.0,B,B,B,0
1794,M,2.0,0.0,2.0,4.0,M,M,B,0
1795,F,2.0,0.0,2.0,4.0,M,M,B,0
1796,F,2.0,0.0,8.0,4.0,M,B,B,0
1797,F,2.0,1.0,5.0,5.0,M,B,B,0

In [4]:
df_comp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1798 entries, 0 to 1797
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   sexo                    1798 non-null   object
 1   tienes_obesidad         1798 non-null   float64
 2   horas_ejercicio_actual  1798 non-null   float64
 3   horas_ejercicio_1ano    1798 non-null   float64
 4   horas_ejercicio_5ano    1798 non-null   float64
 5   ejer_act                1798 non-null   object
 6   ejer_1                  1798 non-null   object
 7   ejer_5                  1798 non-null   object
 8   obesidad                1798 non-null   int64
dtypes: float64(4), int64(1), object(4)
memory usage: 126.5+ KB

In [3]:
df_fmed = pd.read_csv("C:/Users/noeam/Documents/git/github/proyecto_pt2/outputs/fmed_final.csv")
df_fmed

,sexo,tienes_obesidad,horas_ejercicio_actual,horas_ejercicio_1ano,horas_ejercicio_5ano,horas_suenno_calidad,suenno_diario_1ano,suenno_diario_5anos,ejer_act,ejer_1,ejer_5,suenio_act,suenio_1,suenio_5,obesidad
0,F,2.0,5.0,10.0,5.0,4.0,9.0,9.0,B,B,B,M,B,B,0
1,F,2.0,0.0,0.0,1.5,4.0,5.0,8.0,M,M,M,M,M,B,0
2,F,2.0,0.0,5.0,9.0,4.0,1.0,5.0,M,B,B,M,M,M,0
3,M,2.0,3.0,5.0,15.0,3.0,5.0,7.0,B,B,B,M,M,B,0
4,F,2.0,8.0,15.0,25.0,5.0,8.0,8.0,B,B,B,M,B,B,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
718,M,2.0,3.0,20.0,18.0,6.0,7.0,8.0,B,B,B,M,B,B,0
719,M,2.0,0.0,2.0,4.0,5.0,8.0,7.0,M,M,B,M,B,B,0
720,F,2.0,0.0,2.0,4.0,4.0,7.0,9.0,M,M,B,M,B,B,0
721,F,2.0,0.0,8.0,4.0,1.0,9.0,8.0,M,B,B,M,B,B,0
722,F,2.0,1.0,5.0,5.0,3.0,8.0,9.0,M,B,B,M,B,B,0

In [5]:
df_fmed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 723 entries, 0 to 722
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   sexo                    723 non-null    object
 1   tienes_obesidad         723 non-null    float64
 2   horas_ejercicio_actual  723 non-null    float64
 3   horas_ejercicio_1ano    723 non-null    float64
 4   horas_ejercicio_5ano    723 non-null    float64
 5   horas_suenno_calidad    723 non-null    float64
 6   suenno_diario_1ano      723 non-null    float64
 7   suenno_diario_5anos     723 non-null    float64
 8   ejer_act                723 non-null    object
 9   ejer_1                  723 non-null    object
 10  ejer_5                  723 non-null    object
 11  suenio_act              723 non-null    object
 12  suenio_1                723 non-null    object
 13  suenio_5                723 non-null    object
 14  obesidad                723 non-null    int64
dtypes: float64(7), int64(1), object(7)
memory usage: 84.9+ KB